<!-- Loading.razor -->
<div class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                @* <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
                </div> *@

                <div class="d-flex justify-content-center">
                    <span>
                        <h5>Processing</h5>
                    </span>
                    <div class="spinner-grow text-light" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-dark" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>
