@inherits LayoutComponentBase

<div class="auth-layout">
    <!-- Your layout content here -->
    @Body
</div>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" ShowProgressBar="true" IconType="IconType.Blazored"
    SuccessIcon="bi bi-hand-thumbs-up" WarningIcon="bi bi-exclamation-triangle" InfoIcon="bi bi-info-circle"
    ErrorIcon="bi bi-bug" />

<style>
    .auth-layout {
        /* Your layout styles here */
    }

    body {
        /* height: 100vh;
    width: 100vw; */
        margin: 0;
        padding: 0;
        background: url('../../images/notifications/Background_1.jpg') no-repeat center center fixed;
        background-size: cover;
    }
</style>
